# =========================
# Node.js Dependencies (Frontend)
# =========================
node_modules/
dist/
build/
.npm/

# =========================
# Python Dependencies (Backend)
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/

# =========================
# Environment Variables and Virtual Environments
# =========================
.env
.env.*
!.env.example
venv
.venv

# =========================
# System and Editor Files (IDEs)
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor
.github/
AGENTS.md

# =========================
# Report Files
# =========================
reports/

# --- Docker ---
backend/app/data/*.json
!backend/app/data/products.json # Mantener 
!backend/app/data/categories.json # Mantener 